body {
  background-color: #bdd9d7;
}

.card {
  background-color: #f3f0ee;
  color: #03363d;
  border: 2px solid #17494d;
}

.card-subtitle {
  margin-top: 5px;
  font-size: 14px;
}

.btn.btn-info {
  color: #ece0ce;
  border-color: #ece0ce;
  background-color: #17494d;
}

.badge {
  width: 75px;
}

.card-text {
  border-left: 7px solid #bdd9d7;
  padding-left: 15px;
  text-align: justify;
}

.badge.bg-danger {
  background-color: #af2c2c !important;
}

.badge.bg-primary {
  background-color: #3d8dae !important;
}

.badge.bg-warning {
  background-color: #c38f00 !important;
}

.modal-content {
  background-color: #f3f0ee;
}

.modal-header {
  border-bottom: 2px solid #dee2e6;
}

.modal-title {
  color: #03363d;
  font-size: 2rem;
}

.page-link {
  background-color: #f3f0ee;
  color: #03363d;
  border: 2px solid #17494d;
}

.page-link:hover {
  z-index: 2;
  color: #f3f0ee;
  background-color: #03363d;
  border-color: #03363d;
}

.page-link:focus {
  background-color: #f3f0ee;
  color: #03363d;
  box-shadow: none;
}

.welcome {
  background-color: #17494d;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.welcome-sentence {
  font-size: 4rem;
  font-weight: bold;
  color: #ece0ce;
}

.intro-para {
  color: #ece0ce;
  font-size: medium;
}

.error-para {
  color: #ece0ce;
  font-size: large;
}

.error500 .spinner-border {
  width: 150px;
  height: 150px;
  animation: 0.75s linear infinite spinner-border;
}

.number5 {
  font-size: 300px;
  line-height: 0.8;
  color: #af2c2c;
}

.firstCircle {
  border: 16px solid #bf5000;
  border-right-color: transparent;
}

.secondCircle {
  border: 16px solid #c38f00;
  border-right-color: transparent;
}

.error500 {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error500 p {
  font-size: 30px;
  color: #17494d;
  font-weight: bold;
}

.error500 .btn {
  font-weight: bold;
  color: #f3f0ee;
  background-color: #17494d;
}

.error500 .btn:hover {
  background-color: #03363d;
}

.error500 .btn:focus {
  box-shadow: none;
}

.customloading .spinner-grow {
  background-color: #17494d;
}
